/*
 * centercenter.css
 * For all your VAlign needs!
 *
 * Organise DOM as follows.
 * <body>
 *     <div class="main">
 *         <div class="inner">
 *             <h1>This is vertically aligned!</h1>
 *         </div>
 *     </div>
 *     ...
 * </body>
 * 
 * Apply styling for centered part to .inner
 *
 * Created by some guy on the internet.
 * Modified by AR.
 */

html, body {
	height: 100%;
	overflow: auto;
}
body {
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}

.main {
	display: table-cell;
	vertical-align: middle;
}
.main .inner {
	display: inline-block;
}